a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.circle {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.repo-meta {
  font-size: 12px;
  margin-right: 16px;
  line-height: 30px;
}

.repo-card {
  padding: 24px 0;
  color: #586069 !important;
}

.filters {
  padding: 16px 0 6px 0;
}

.dropdown {
  margin-left: 10px;
  float: right;
}

.dropdown-label {
  margin-top: 5px;
}

.text-input-repo {
  width: 50%
}

@media only screen and (max-width: 500px) {
  .text-input-repo {
    width: 100%;
    margin-bottom: 5px;
  }

  .dropdown {
    margin: 0;
    display: inline-block;
    float: none;
  }

  .button {
    padding: 6px 0;
  }

  .type {
    float: right;
  }
}
