<div *ngIf="repoData">

  <div class="filters">
    <input [formControl]="searchTextControl" class="text-input text-input-repo" type="text"
           placeholder="Find a repository...">
    <div class="dropdown">
      <div class="inline-div dropdown-label">
        Language:&nbsp;
      </div>
      <select [formControl]="languageControl" name="language" class="button">
        <option *ngFor="let language of languages" [value]="language">{{language}}</option>
      </select>
    </div>
    <div class="dropdown type">
      <div class="inline-div dropdown-label">
        Type:&nbsp;
      </div>
      <select [formControl]="typeControl" name="type" class="button">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="divider"></div>

  <ng-container *ngFor="let repo of repoData">
    <ng-container *ngIf="passesTextFilter(repo.name, repo.description) && passesTypeFilter(repo) && passesLanguageFilter(repo)">
      <div class="repo-card">
        <a [href]="repo.html_url" class="row"><h3>{{repo.name}}</h3></a>
        <span *ngIf="repo.description" class="row" style="font-size: 14px;">
        {{repo.description}}
      </span>
        <span *ngIf="repo.language" class="repo-meta">
        <span class="circle"
              [ngStyle]="{'background-color': languageColorMap[repo.language] ? languageColorMap[repo.language].color : 'red'}"></span>
          {{repo.language}}
      </span>
        <span *ngIf="repo.license" class="repo-meta">
        <svg class="octicon octicon-law mr-1" viewBox="0 0 14 16" version="1.1" width="14" height="16"
             aria-hidden="true"><path fill-rule="evenodd"
                                      d="M7 4c-.83 0-1.5-.67-1.5-1.5S6.17 1 7 1s1.5.67 1.5 1.5S7.83 4 7 4zm7 6c0 1.11-.89 2-2 2h-1c-1.11 0-2-.89-2-2l2-4h-1c-.55 0-1-.45-1-1H8v8c.42 0 1 .45 1 1h1c.42 0 1 .45 1 1H3c0-.55.58-1 1-1h1c0-.55.58-1 1-1h.03L6 5H5c0 .55-.45 1-1 1H3l2 4c0 1.11-.89 2-2 2H2c-1.11 0-2-.89-2-2l2-4H1V5h3c0-.55.45-1 1-1h4c.55 0 1 .45 1 1h3v1h-1l2 4zM2.5 7L1 10h3L2.5 7zM13 10l-1.5-3-1.5 3h3z"></path></svg>
          {{repo.license.name}}
      </span>
        <span *ngIf="repo.updated_at" class="repo-meta">
        Updated On {{formatDate(repo.updated_at)}}
      </span>
      </div>
      <div class="divider"></div>
    </ng-container>
  </ng-container>
</div>
