.tab {
  display: inline-block;
  padding: 16px 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  margin-right: 16px;
  cursor: pointer;
}

.badge {
  background-color: #e4e4e4;
  border-radius: 10px;
  font-size: smaller;
  color: gray;
  padding: 1px;
  font-weight: 600;
}

.profile-card {
  width: 30%;
  padding-left: 16px;
}

.main-content {
  width: 65%;
  vertical-align: top;
  padding-right: 16px;
}

@media only screen and (max-width: 500px) {
  .profile-card {
    width: 100%;
    padding: 0;
  }

  .main-content {
    width: 100%;
    vertical-align: top;
    padding: 0;
  }
}
