<app-nav-bar></app-nav-bar>
<div style="padding: 24px 35px;" *ngIf="repoData && profileData">
  <div class="inline-div" style="width: 30%; padding-left: 16px;">
    <app-profile-card [profileData]="profileData" ></app-profile-card>
  </div>
  <div class="inline-div" style="width: 65%; vertical-align: top; padding-right: 16px;">
    <div style="border-bottom: 1px solid #c2c2c2;">
      <div class="tab">Overview</div>
      <div class="tab" style="border-bottom-color: coral;" (click)="setTab('repositories')">
        Repositories
        <span class="badge">{{repoData.length}}</span>
      </div>
      <div class="tab">
        Stars
        <span class="badge">{{starredCount}}</span>
      </div>
      <div class="tab">
        Followers
        <span class="badge">{{profileData.followers}}</span>
        </div>
      <div class="tab">
        Following
        <span class="badge">{{profileData.following}}</span>
      </div>
    </div>
    <app-repositories [repoData]="repoData" *ngIf="selectedTab === 'repositories'">
    </app-repositories>
  </div>
</div>
